*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container{
    height: 400px;
    width: 300px;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

#container i{
    color: red;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.54s;
}